.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.cardContainer {
		> div {
			padding: 0;
		}
		
		.cardContent {
			padding: 70px 50px;
		}
	}
}